.works_heading {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.works_heading p {
  padding-top: 15px;
}

.works_wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.works {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.works_img {
  width: 300px;
  height: auto;
}

.works_img img {
  width: 100%;
}

.works_text {
  width: 300px;
  text-align: left;
  margin-left: 10px;
}

.works_text a p {
  font-size: 22px;
  margin-bottom: 10px;
}

.works_text p {
  line-height: 2;
  margin-bottom: 100px;
}

.works_whole {
  max-width: 1000px;
  margin: 0 auto;
}

.works_title {
  text-align: center;
  margin: 135px 0px 65px 0px;
}

.works_img {
  width: 50%;
  margin-bottom: 43px;
}

.works_img img {
  width: 100%;
}

.works_whole_img_sp {
  width: 700px;
  margin: 0px auto 100px auto;
}

.works_whole_img_sp img {
  width: 100%;
}

.works_whole_img {
  width: 100%;
  margin: 0 auto 100px auto;
}

.works_whole_img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .works_wrap {
    display: block;
  }

  .works {
    width: 100%;
  }

  .works_whole_img {
    width: 375px;
    margin: 0 auto 100px auto;
  }

  .works_whole_img_sp {
    width: 375px;
  }
}
