@charset "utf-8";

.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 3%;
}

.header_logo {
  width: 100px;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 40px;
  margin-left: 160px;
  font-size: 14px;
  text-align: center;
  font-family: "Arial";
  font-weight: 300;
}

.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  /* ハンバーガー */
  .sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }

  .sp_btn span {
    position: relative;
    top: 10px;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #333;
    transition: 0.3s;
  }

  .sp_btn span::after,
  .sp_btn span::before {
    position: absolute;
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background-color: #333;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }

  .sp_btn span::after {
    top: 10px;
  }

  /* ハンバーガー閉じ */
  .sp_btn.open span {
    background: transparent;
  }

  .sp_btn.open span::before {
    bottom: 0px;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    top: 0px;
    transform: rotate(135deg);
  }

  /* ハンバーガーメニュー */
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(249, 236, 217, 1);
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp_nav ul li {
    padding: 20px;
    color: #333;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .header_logo {
    width: 60px;
  }
}

.main_visual {
  margin: 0 auto;
}

.main_logo {
  width: 210px;
  margin: 200px auto;
}

.main_logo img {
  width: 100%;
}

.scroll {
  padding-left: 2%;
  width: 15px;
}

.scroll img {
  width: 100%;
}

/* コンセプト */
.concept {
  margin: 0 auto;
  max-width: 1120px;
  margin-top: 100px;
}

.concept_heading {
  text-align: center;
}

.concept_heading p {
  font-size: 12px;
}

.concept_text1 {
  margin-top: 80px;
}

.concept_text2 {
  margin-top: 80px;
}

.concept_text3 {
  margin-top: 125px;
}

/* サービス */
.service {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 100px;
}

.service_heading {
  text-align: center;
}

.service_heading p {
  font-size: 12px;
}

/* 作品 */
.works {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 100px;
}

.works_heading {
  text-align: center;
}

.works_heading p {
  font-size: 12px;
}

/* お問い合わせ */
.contact {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 100px;
}

.contact_heading {
  text-align: center;
}

.contact_heading p {
  font-size: 12px;
}
