.about_heading {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.about_heading p {
  padding-top: 15px;
}

.about_wrap {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 80px auto 160px auto;
}

.about_image {
  width: 50%;
  height: auto;
  margin-right: 45px;
}

.about_image img {
  width: 100%;
}

.about_content {
  width: 50%;
}

.about_profile1 {
  font-size: 22px;
  margin-bottom: 15px;
}

.about_profile2 {
  line-height: 2;
  margin-bottom: 40px;
}

.about_text1 {
  line-height: 2;
}

.about_text2 {
  line-height: 2;
  margin-bottom: 40px;
}

.about_text3 {
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .about_wrap {
    display: block;
    max-width: 375px;
  }

  .about_image {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }

  .about_image img {
    width: 100%;
  }

  .about_content {
    width: 100%;
  }
}
