@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #333333;
  font-family: "Honoka-Maru-Gothic", " honoka-maru-gothic", "Honoka Maru Gothic",
    "honoka maru gothic", "FOT-TsukuARdGothic Std", "fot tsukubrdgothic-std";
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "palt";
}

html {
  scroll-behavior: smooth;
  background-color: #f9ecd9;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

.heading {
  font-family: "santelia rough two", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
