@charset "utf-8";

/* コンセプト */
.concept {
  margin: 0 auto;
  max-width: 1120px;
  margin-top: 100px;
}

.concept_heading {
  text-align: center;
  margin-bottom: 80px;
}

.concept_heading p {
  font-size: 12px;
}

.concept_text1 {
  position: relative;
  margin-top: -50px;
  height: 360px;
  width: 450px;
  background-image: url(../images/Concept1@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.concept_text1 p {
  position: absolute;
  left: 20%;
  top: 40%;
}

.concept_text2 {
  position: relative;
  margin-top: -150px;
  margin-left: auto;
  margin-bottom: -50px;
  height: 270px;
  width: 450px;
  background-image: url(../images/Concept2@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.concept_text2 p {
  position: absolute;
  left: 10%;
  top: 40%;
}

.concept_text3 p {
  text-align: center;
  line-height: 2.3;
}

.more_btn {
  position: relative;
  left: 70%;
  width: 200px;
  height: 170px;
  background-image: url(../images/more_button@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.more_btn a {
  position: absolute;
  left: 35%;
  top: 46%;
  font-size: 14px;
}

/* サービス */
.service {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 100px;
}

.service_heading {
  text-align: center;
  margin-bottom: 50px;
}

.service_heading p {
  font-size: 12px;
}

.service_wrap {
  display: flex;
  justify-content: center;
}

.service_design {
  margin-right: 90px;
  width: 50%;
}

.service_cording {
  margin-left: 90px;
  width: 50%;
}

.service_design img,
.service_cording img {
  width: 450px;
}

.service_design h2,
.service_cording h2 {
  text-align: center;
  margin-bottom: 35px;
  padding: 35px 100px;
  border-bottom: 2px solid #333;
}

.service_design p,
.service_cording p {
  text-align: left;
  line-height: 2;
}

/* 作品 */
.works {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 100px;
}

.works_heading {
  text-align: center;
}

.works_heading p {
  font-size: 12px;
}

/* お問い合わせ */
.contact {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 100px;
}

.contact_heading {
  text-align: center;
  margin-bottom: 50px;
}

.contact_heading p {
  font-size: 12px;
}

.contact_text {
  text-align: center;
}

.contact_text p {
  line-height: 2;
}

.contact_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto 0px auto;
  width: 300px;
  height: 130px;
  background-image: url(../images/contact_button@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 83px;
}

.contact_btn p {
  position: absolute;
  top: 75px;
  font-size: 14px;
}

.thanks_message {
  margin-top: 135px;
}
